{% extends "main.html.twig" %}

{% block content %}


    <div class="small-12 columns">

    {% include 'flash.html.twig' %}

    <h3 class="titre-page">{{ titre }}</h3>

    {% if errors %}
        <div class="row">
            <div class="small-12 columns">
                <div data-alert class="alert-box alert">
                    <ul style="margin-bottom: 0;">
                        {% for key, error in errors  %}
                            {% if error == "alnum" %}
                                <li>Le champ {{ key }} ne doit contenir que des caractères alphanumériques</li>
                            {% elseif error == "minLength" %}
                                <li>Le champ {{ key }} doit contenir X caractères minimum</li>
                            {% elseif error == "maxLength" %}
                                <li>Le champ {{ key }} doit contenir X caractères maximum</li>
                            {% else %}
                                <li>{{ key }} - {{ error }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>
    {% endif %}

    <form action="{{ postroute }}" method="POST" data-abide enctype="multipart/form-data">
    <div class="row">
        <div class="small-12 medium-6 columns">
            <div class="row">
                <div class="small-12 columns">
                    <h5 class="align_center">A propos du produit</h5>

                    <div class="titre-input">
                        <label>Titre <small>obligatoire</small>
                            <input type="text" name="titre" required pattern="titre" placeholder="Titre de l'annonce"
                            {% if annonce is defined %}
                                value="{{ annonce.titre }}"
                            {% endif %}/>
                        </label>
                        <small class="error">Le titre doit contenir entre 4 et 50 caractères.</small>
                    </div>

                    <div class="description-input">
                        <label>Description longue <small>obligatoire</small>
                            <textarea name="description" required pattern="textarea" placeholder="Décrivez clairement le produit que vous vendez.">{% if annonce is defined %}{{ annonce.descriptif }}{% endif %}</textarea>
                        </label>
                        <small class="error">La description doit contenir entre 10 et 500 caractères.</small>
                    </div>

                    <div class="categorie-input">
                        <label>Catégorie <small>obligatoire</small>
                            <select id="categorie" required name="categorie">
                                {% for current in categories %}
                                    <option value="{{ current.id }}"
                                    {% if (categorie is defined and annonce.id_categorie == current.id) %}
                                        selected
                                    {% endif %}>{{ current.nom }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <small class="error">La catégorie est obligatoire.</small>
                    </div>

                    <div class="code_postal-input">
                        <label>Code Postal <small>obligatoire</small>
                            <input type="number" required pattern="code_postal" min="0" name="code_postal" placeholder="Ex. : 54000"
                            {% if membre is defined %}
                                value="{{ membre.code_postal }}"
                            {% endif %}/>
                        </label>
                        <small class="error">Le code postal doit contenir 5 chiffres.</small>
                    </div>

                    <div class="prix-input">
                        <label>Prix <small>obligatoire</small>
                            <input type="number" required pattern="prix" min="0" name="prix" placeholder="15"
                            {% if annonce is defined %}
                                value="{{ annonce.prix }}"
                            {% endif %}/>
                        </label>
                        <small class="error">Le prix est obligatoire.</small>
                    </div>
                    <br/>
                    <label>Photos</label>
                    {% for i in 0..2 %}
                        {% if images[i] %}
                            <div class="imageDiv" style="margin-top: 1em;margin-bottom:1em;">
                                <img src="{{ path }}/{{ images[i].url }}" alt="" width="70" height="70"/>
                                <input style="float: right;" type="button" class="deleteImage" data-value="{{ i + 1 }}" value="Supprimer"/>
                            </div>
                        {% else %}
                            <label>Photo {{ i + 1  }} : <input type="file" name="photo{{ i + 1 }}" data-id="{{ i + 1 }}" accept="image/jpeg,image/png"/></label>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="row">
                {% if session.connecte %}
                    <div class="small-12 columns">
                        <h5 class="align_center">A propos de vous</h5>

                        <div>
                            <label>Prénom
                                <input type="text" disabled value="{{ session.prenom }}"/>
                            </label>
                        </div>

                        <div>
                            <label>Nom
                                <input type="text" disabled value="{{ session.nom }}"/>
                            </label>
                        </div>

                        <div>
                            <label>Mail
                                <input type="text" disabled value="{{ session.email }}"/>
                            </label>
                        </div>

                        <div>
                            <label>Téléphone
                                <input type="text" disabled value="{{ session.telephone }}"/>
                            </label>
                        </div>

                        <div>
                            <label>Code postal
                                <input type="text" disabled value="{{ session.code_postal }}"/>
                            </label>
                        </div>
                    </div>
                {% else %}
                    <div class="small-12 columns">
                        <h5 class="align_center">A propos de vous</h5>

                        <div class="prenom-input">
                            <label>Prénom <small>obligatoire</small>
                                <input type="text" required pattern="text" name="prenom" placeholder="Prénom"
                                        {% if membre is defined %}
                                    value="{{ membre.prenom }}"
                                        {% endif %}/>
                            </label>
                            <small class="error">Le prénom doit contenir entre 3 et 70 lettres.</small>
                        </div>

                        <div class="nom-input">
                            <label>Nom <small>obligatoire</small>
                                <input type="text" required pattern="text" name="nom" placeholder="Nom"
                                        {% if membre is defined %}
                                    value="{{ membre.nom }}"
                                        {% endif %}/>
                            </label>
                            <small class="error">Le nom doit contenir entre 3 et 70 lettres.</small>
                        </div>

                        <div class="email-input">
                            <label>Mail <small>obligatoire</small>
                                <input type="email" required pattern="email" name="email" placeholder="E-mail"
                                        {% if membre is defined %}
                                    value="{{ membre.email }}"
                                        {% endif %}/>
                            </label>
                            <small class="error">Email valide obligatoire.</small>
                        </div>

                        <div class="tel-input">
                            <label>Téléphone <small>obligatoire</small>
                                <input type="text" required pattern="telephone" name="telephone" placeholder="Téléphone"
                                        {% if membre is defined %}
                                    value="{{ membre.telephone }}"
                                        {% endif %}/>
                            </label>
                            <small class="error">Le numéro de téléphone doit contenir entre 10 et 20 caractères.</small>
                        </div>

                        {% if not edition %}
                        <div class="password-input">
                            <label>Mot de passe <small>obligatoire</small>
                                <input type="password" id="mot_de_passe" required pattern="mot_de_passe" name="mot_de_passe" placeholder="********"/>
                            </label>
                            <small class="error">Le mot de passe doit contenir entre 5 et 15 caractères.</small>
                        </div>

                        <div class="password-input">
                            <label>Répéter mot de passe <small>obligatoire</small>
                                <input type="password" required pattern="mot_de_passe" data-equalto="mot_de_passe" name="password" placeholder="********"/>
                            </label>
                            <small class="error">Les mots de passes doivent correspondrent.</small>
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <input type="hidden" name="token" value="{{ token }}"/>
    <div class="row">
    {% if edition %}
        <div class="small-6 small-centered medium-6 medium-centered large-4 large-centered columns">
            <div class="password-input">
                <label>Mot de passe de l'annonce <small>obligatoire</small>
                    <input type="password" id="password" required pattern="mot_de_passe" name="mot_de_passe" placeholder="********" onblur="document.formSuppr.passwordSupprimer.value = this.value;"/>
                </label>
                <small class="error">Le mot de passe doit contenir entre 5 et 15 caractères.</small>
            </div>
        </div>
    {% endif %}
        <div class="small-6 medium-offset-3 medium-3 large-offset-4 large-2 columns">
            <input type="submit" name="prev" class="button small-12" value="Visualiser">
        </div>
        <div class="small-6 medium-3 large-2 columns end">
            <input type="submit" name="send" class="button small-12" value="Publier">
        </div>
    </div>
    </form>
    {% if edition %}
        <form name="formSuppr" action="{{ supprimer }}" method="post">
            <input type="hidden" name="token" value="{{ token }}"/>
            <input type="hidden" name="passwordSupprimer" />

            <div class="small-6 small-centered medium-3 medium-centered large-2 large-centered columns">
                <input type="submit" class="button small-12" value="Supprimer"/>
            </div>
        </form>
    {% endif %}
    </div>
    <script>
        $(document).ready(function() {

            $('.imageDiv .deleteImage').on('click', function() {
                i = $(this).attr('data-value');
                $(this).parent('.imageDiv').replaceWith('<label>Photo '+i+' : <input type="file" name="photo'+i+'" accept="image/jpeg,image/png"></label>');
            });

            $(document).foundation({
                abide : {
                    patterns: {
                        code_postal: /^[0-9]{5}$/,
                        dashes_only: /^[0-9-]*$/,
                        prix: /^[0-9]+$/,
                        email : /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
                        text: /^.{3,70}$/,
                        telephone: /^.{10,20}$/,
                        titre: /^.{4,50}$/,
                        mot_de_passe: /^.{5,15}$/,
                        textarea: /^.{10,500}$/
                    }
                }
            });
        });
    </script>
{% endblock %}