{% extends "main.html.twig" %}

{% block head %}
    <script src="{{ path }}/public/js/lightbox.min.js"></script>
{% endblock %}

{% block content %}
    <div class="small-12 columns">

    {% include 'flash.html.twig' %}

        <div class="card detail" style="padding: 0.5em ;">
            <h1 class="titre-page">{{ annonce.titre }}</h1>

            <div class="row">
                <div class="small-12 medium-4 large-3 columns">
                    <div class="image text-center" style="margin-bottom: 1em;">
                        {% for image in images %}
                            {% if previsualisation %}
                                <a class="img-link" href="{{ image.data }}" data-lightbox="annonce" data-title="Photo n°{{ image.position }}">
                                    <img src="{{ image.data }}" title="Photo n°{{ image.position }}" alt="Photo n°{{ image.position }}"/>
                                </a>
                            {% else %}
                                <a class="img-link" href="{{ link.indexPath }}{{ image.url }}" data-lightbox="annonce" data-title="Photo n°{{ image.position }}">
                                    <img src="{{ link.indexPath }}{{ image.url }}" title="Photo n°{{ image.position }}" alt="Photo n°{{ image.position }}"/>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="small-12 medium-8 large-9 columns">
                    <div class="content text-center">
                        <p>
                            <i>Prix</i> : {{ annonce.prix }} € <br/>
                            <i>Description</i> : {{ annonce.descriptif }}<br/>
                            <i>Categorie de l'annonce</i> : <b><a href="{{ categorie.url }}">{{ categorie.nom }}</a></b>
                        </p>
                        <p>
                            <i>Date de mise en ligne</i> : {{ annonce.date_creation }}<br/>
                            <i>Vendeur</i> : {{ membre.prenom }} - ({{ membre.email }})<br/>
                            <i>Numéro de téléphone</i> : {{ membre.telephone }}<br/>
                            <i>Situation</i> : {{ membre.code_postal }}
                        </p>
                    </div>
                </div>
            </div>

            {% if previsualisation %}
                <form action="{{ postroute }}" method="POST" data-abide enctype="multipart/form-data">
                    <input type="hidden" name="titre" value="{{ annonce.titre }}"/>
                    <input type="hidden" name="description" value="{{ annonce.descriptif }}"/>
                    <input type="hidden" name="prix" value="{{ annonce.prix }}"/>
                    <input type="hidden" name="categorie" value="{{ annonce.id_categorie }}"/>
                    <input type="hidden" name="code_postal" value="{{ membre.code_postal }}"/>
                    <input type="hidden" name="prenom" value="{{ membre.prenom }}"/>
                    <input type="hidden" name="nom" value="{{ membre.nom }}"/>
                    <input type="hidden" name="telephone" value="{{ membre.telephone }}"/>
                    <input type="hidden" name="email" value="{{ membre.email }}"/>
                    <input type="hidden" name="token" value="{{ token }}"/>

                    <div class="row">
                        <div class="small-offset-3 small-6 medium-offset-4 medium-4 large-offset-4 large-4 columns">
                            <input type="submit" name="back" class="button small-12" value="Retour">
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="text-center">
                    <a href="{{ editerAnnonce }}" class="button">Modifier l'annonce</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}