<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Racoin</title>
<meta name="description" content="CSS Framework par Frantz Thomas & Cornat Jacques">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ path }}/public/css/normalize.css">
<link rel="stylesheet" href="{{ path }}/public/css/foundation.min.css">
<link rel="stylesheet" href="{{ path }}/public/css/lightbox.css">
<link rel="stylesheet" href="{{ path }}/public/css/app.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>