<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="{{ link.indexPath }}">Racoin</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li><a href="{{ link.rechercherPath }}">Rechercher</a></li>
            <li><a href="{{ link.ajouterAnnoncePath }}">Ajouter annonce</a></li>
            <li><a href="{{ link.mesAnnoncesPath }}">Gérer annonces</a></li>
        </ul>

        <ul class="right">
            {% if session.connecte %}
                <li><a href="{{ link.profilPath }}">{{ session.prenom }} {{ session.nom }}</a></li>
                <li><a href="{{ link.deconnecterPath }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ link.connecterPath }}">Connexion</a></li>
                <li><a href="{{ link.inscrirePath }}">Inscription</a></li>
            {% endif %}
        </ul>
    </section>
</nav>